/***** main carrito ******/


.titulo1{
    font-size: 40px;
    font-weight: normal;
    
}

.titulo2{
    font-size: 35px;
    margin-bottom: 2px;
    font-weight: normal;
}

.gift-valor{
    font-size: 75px;
}


