
body{
    background-image: url(../img/zahu.jpg);
    background-size: unset;
    background-attachment: fixed;
    position: relative;
    justify-content: center;
    overflow-y: hidden;
    
}



body::before{
    content: "";
    min-height: 100vh;
    min-width: 800px; 
    width: 100%;  
    position: absolute;
    background-color: #95A5A6;
    opacity: 0.6;
    top: 0px;
    left: 0;
    z-index: -500;
}


.main-light{
    height: 140px;
    width: 540px;
    padding: 10px;
    z-index: 500;
   
}

 

.main-content-light{
    position: relative;
    top: 20px;
    height: 60PX;
    display: flex;
    
}


.boton-opcion{
    height: 30px;
    width: 160px;
    line-height: 35px;

}

#titulo{
    font-size: 23px;
    font-family: 'Karla', sans-serif;
}
