*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

body{
    height: auto;
    min-height: 100%;
    background-color: #fde0e0;
}

.body-content{
    min-height: 100%;
    background-color: lightskyblue;
    
}


header{
    position: relative;
    height: 2.5rem;
    width: 100%;
    background-color: white;
    

}

.header-content{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 2%;  
}

.logo-header{
    position: relative;
    height: 80%;
    width: 38%;
    background-color: transparent;

}

.opciones{
    position: absolute;
    width: 10%;
    height: 55%;
    background-color: transparent;
    border: 0.4px solid #d2d8d8;
    border-radius: 0.5rem;
    right: 5%;
    top: 20%;
}


.header-img{
    width: 100%;
    height: auto;
}

/******** ASIDE ***********/
.aside-content{
    position: relative;
    height: 3.5rem;
    width: 100%;
    background-color: #3498DB;
    background-image: url(../img/unicornio/aside3.png);
    background-size: 30%;
    background-position: center top;
}


/********** MAIN ************/
.main{
    min-height: 100%;
    width: 100%;
    background-color: #fde0e0;
    padding: 0.5rem;
}

.portada-content{
    position: relative;
    width: 100%;
    height: 9.5rem;
    background-color: white;
    background-image: url(../img/estrellas.png);
    background-size: 30%;
    margin-bottom: 1rem;
    padding: 1px;
    display: none;
}

.portada-imagen{
    display: block;
    width: 65%;
    height: 90%;
    margin: 0.8rem auto;
}


.main-content{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0.5rem;
}

.titulo{
    background-color: transparent;
    font-family: Helvetica,sans-serif;
    font-weight: lighter;
    font-size: 1.3rem;
    display: block;
    text-align: center;
    padding: 0.4rem 0.2rem;
    border-bottom: 1px solid #5D6D7E;
}

.titulo2{
    background-color: transparent;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    padding: 0.4rem 0.2rem;
}




.sorteo-content{
    min-height: 9rem;
    background-color: transparent;
    padding: 0.2rem;
}

.btn-random{
    background-color: #1EAEDB;
    color: black;
    font-family: 'Karla', sans-serif;
    width: 25%;
    margin-top: 0.7rem ;
    margin-bottom: 0.7rem;
    height: 2rem;
    font-size: 0.9rem;
    margin-left: 72%;
    text-align: center;
    line-height: 2rem;
    border-radius: 0.3rem;
}

.ver-url:hover, .ver-url:focus,.btn-random:hover, .btn-random:focus{
    outline: none;
    color: white;
    font-weight: bold;
    background-color: rgb(49, 235, 74);
    border: 1px solid rgb(27, 216, 74) ;
    cursor: pointer;
}

/******** CAJA DE SORTEO *********/
.sorteo{
    position: relative;
    min-height: 45%;
    width: 100%;
    background-color: transparent;
    padding: 0.2rem;
    margin: 0rem auto; 
}

.sorteo-exito{
    background-color: rgb(17, 238, 102) ;
}

.sorteo #spinner{
    display: none;
    
}

.regalo-content{
    height: 15rem;
    width: 70%;
    margin: 0.8rem auto;
    background-color: white;
    padding: 0.5rem 0.8rem;
}

.regalo{
    height: 80%;
    width: 100%;
    background-color: seagreen;
}

.regalo-imagen{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #E5E7E9;
}

.ver-url{
    position: relative;
    background-color: #1EAEDB;
    text-align: center;
    color: black;
    font-size: 0.7rem;
    display: block;
    padding: 0.4rem 0.2rem;
    width: 50%;
    margin: 0.6rem auto;
    border-radius: 0.3rem;
}




@media (min-width:480px){
    header{
        position: relative;
        z-index: 100;
        height: 4rem;
        
    }

    .header-content{
        padding: 0.4%  1.6%; 
    }

    .logo-header{
        width: 22%;
        height: 85%;
    }
    .opciones{
        width: 5.5%;
        top: 15%;
    }

    .aside-content{
        position: absolute;
        width: 10%;
        height: 100%;
        background-size: 100%;
        z-index: 50;
        top: 0;
    }

    .main{
        width: 90%;
        margin-left: 10%;
        padding: 1.2rem 3.5rem;
        
    }

    .main-content{
        padding: 0.8rem 1.2rem;
    }

    .portada-content{
        display: block;
    }

    .sorteo-content{
        padding: 0.2rem 0.8rem;
        min-height: 12rem;
    }

    .titulo{
        font-size: 2.5rem;
        padding: 0.7rem 0.2rem;
    }

    .titulo2{
        font-size: 1.5rem;
        padding: 0.5rem 0.2rem;
    }
    .btn-random{
        width: 15%;
        margin-left: 84%;
        font-size: 1rem;
    }

    .sorteo{
        padding: 0.8rem 0.6rem;
        min-height: 11rem;
    }



    .regalo-content{
        width: 30%;
        height: 21rem;
        display: inline-block;
        margin: 1rem 9%;
        padding: 0.6;
    }

    .regalo{
        height: 82%;
    }

    .ver-url{
        font-size: 0.8rem;
        padding: 0.4rem 0.2rem;
        margin-top: 1rem;
    }
}